header {
    background-color: white;
    color: black;
    
}
body {
    background-color: whitesmoke;
}
main {
    background-color: whitesmoke;
    padding: 16px;
}
.post {
    margin-bottom: 48px;
}
.post .user-info img {
    border-radius: 50%;
}
.post .user-info h2 {
    font-family: Segoe UI,Roboto, Helvetica, Arial, sans-serif;
}
h1 {
    font-family: Pacifico, cursive;
    margin-left: 30px;
}
h2 {
    font-size: 14px;
}
h3 {
    font-family: Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}
.post {
    background-color: white;
    padding: 20px;
}

form {
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    
}

.signup-container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.logo img {
    border-radius: 5px;
    width: 30px;
    margin-left: 35px;
}

.info {
    text-align: justify;
}

.login-container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.login-top {
    margin-right: 35px;
    font-size: 20px;
}

.signup-top {
     margin-right: 50px;
     font-size: 20px;
}

.login-info {
    margin-right: 50px;
    font-size: 20px;
    
}
