<!doctype HTML>
<html> 
    <head>
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
        <link rel="stylesheet" href="/stylesheets/lib.css">
        <link rel="stylesheet" href="/stylesheets/myapps2.css">
        <title> FinstaGram </title> 
    </head>
    <body> 
        <header> 
        <a class="logo" href="#">
            <img src="https://img.tinychan.org/img/1328039793912825.png">
        </a>
            <h1> FinstaGram </h1>
            <div class="login-info">
                <% if current_user %>
                <%= current_user.username %>
                <a href="/logout">Logout</a>
            <% else %>
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            <% end %>
            </div>
        </header>
        <%= yield %>
    </body>
</html>
